/* Small Devices*/
@media only screen and (max-width: 767px) {
  nav {
    background-color: #fff !important;
    border-color: #e6e6e6;
  }
}

/* Small Devices and tablets*/
@media only screen and (max-width: 768px) {
  .header-iphone {
    display: none;
  }
  .header-text, .header-btns {
    text-align: center;
  }
}

/* Medium Devices , Desktops*/
@media only screen and (min-width: 992px) {

}

/* Large Devices*/
@media only screen and (min-width: 1200px) {

}
